<include file="Public/header"/><!--/HEADER -->
<!-- Left side column. contains the logo and sidebar -->
<include file="Public/menu"/><!--/HEADER -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb pull-left" >
            <li><a href="{:U('Index/index')}"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">角色管理</a></li>
            <li class="active">修改角色</li>

        </ol>
        <div class="form-group pull-right">
            <a href="{:U('Role/index')}" class="btn btn-primary  "><i class="fa fa-arrow-left"></i>返回 </a>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->

            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">修改角色</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">角色名称：</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="title" id="title" value="{$info.title}"
                                            placeholder="角色名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">角色描述：</label>

                                <div class="col-sm-4">
                                    <textarea class="form-control" rows="5" name="remark" id="remark" placeholder="角色描述">{$info.remark}</textarea>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-6">
                                    <input type="hidden" name="id" value="{$info.id}" >
                                    <div type="text" class="btn btn-primary  " id="submit">提交</div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->

                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->
                <!-- general form elements disabled -->

                <!-- /.box -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<include file="Public/footer"/><!--/HEADER -->
<script type="text/javascript">
    $(function(){
        $("#submit").click(function(){
            var title=$("input[name='title']").val();
            var id=$("input[name='id']").val();
            var remark=$("#remark").val();
            if($.trim(title)=='') {
                throwExc("角色必须填写");
                return false;
            }
            if($.trim(remark)=='') {
                throwExc("角色必须填写");
                return false;
            }

            $.post("{:U('Role/edit')}",{
                'title':title,
                'id':id,
                'remark':remark,
            },function( response ){
                if(response.error==100) {
                    throwExc(response.message);
                    return false;
                }else if(response.error==200) {
                    showSucc(response.message);
                    setTimeout("load()",1000);
                }
            },"json");
        });
    });
    function load(){
        window.location.href="{:U('Role/index')}";
    }
</script>
