<include file="Public/header"/><!--/HEADER -->
  <!-- Left side column. contains the logo and sidebar -->
<include file="Public/menu"/><!--/HEADER -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       
        <small></small>
      </h1>
      <ol class="breadcrumb" style="float: left;">
        <li><a href="{:U('Index/index')}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">首页</a></li>
        <li class="active">首页</li>
      </ol>
    </section>

    <!-- Main content -->

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<include file="Public/footer"/><!--/HEADER -->
